name: Lint GitHub Action Workflows
on:
  pull_request:
    types: [synchronize, edited, opened]
  push:
    branches: [main]
  workflow_call:
jobs:
  actions:
    name: Review Dog - Lint GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@f00ad0691526c10be4021a91b2510f0a769b14d0 # v1
