name: Lint GitHub Action Workflows
on:
  pull_request:
    types: [synchronize, edited, opened]
  push:
    branches: [main]
  workflow_call:
jobs:
  actions:
    name: Review Dog - Lint GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@83e4ed25b168066ad8f62f5afbb29ebd8641d982 # v1
