name: Lint GitHub Action Workflows
on:
  pull_request:
    types: [synchronize, edited, opened]
  push:
    branches: [main]
  workflow_call:
jobs:
  actions:
    name: Review Dog - Lint GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@0d952c597ef8459f634d7145b0b044a9699e5e43 # v1
