name: Lint GitHub Action Workflows
on:
  pull_request:
    types: [synchronize, edited, opened]
  push:
    branches: [main]
  workflow_call:
jobs:
  actions:
    name: Review Dog - Lint GitHub Action Workflows
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Review Dog - actionlint
        uses: reviewdog/action-actionlint@e58ee9d111489c31395fbe4857b0be6e7635dbda # v1
