name: ESLint
on:
  workflow_call:
    inputs:
      eslint-flags:
        description: Flags and arguments for eslint
        required: false
        type: string
      fail-on-error:
        description: Should reviewdog fail when errors are found
        required: false
        type: boolean
      path:
        description: Path to search for files to lint
        required: true
        default: ${{github.workspace}}
        type: string
jobs:
  eslint:
    name: Review Dog - ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Review Dog - ESLint
        uses: reviewdog/action-eslint@556a3fdaf8b4201d4d74d406013386aa4f7dab96 # v1
        with:
          eslint_flags: ${{inputs.eslint-flags}} ${{inputs.path}}
          fail_on_error: ${{inputs.fail-on-error}}
