name: Lint Go
on:
  workflow_call:
    inputs:
      golangci-lint-flags:
        description: Flags and arguments for golangci-lint
        required: false
        type: string
      fail-on-error:
        description: Should reviewdog fail when errors are found
        required: false
        type: boolean
      go-version:
        description: Install a specific version of Go
        required: false
        type: string
        default: '1.x'
      config:
        description: Path to configuration file
        required: false
        type: string
jobs:
  go:
    name: Review Dog - Lint Go
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Config Path
        id: configuration
        run: |
          echo "::set-output name=flag::"
          if [[ "${{inputs.config}}" != "" ]]; then
            echo "::set-output name=flag::--config ${{inputs.config}}"
          fi
      - name: Review Dog - golangci-lint
        uses: reviewdog/action-golangci-lint@f9bba13753278f6a73b27a56a3ffb1bfda90ed71 # v2
        with:
          golangci_lint_flags: ${{inputs.golangci-lint-flags}} ${{steps.configuration.outputs.path}}
          fail_on_error: ${{inputs.fail-on-error}}
          go_version: ${{inputs.go-version}}
          cache: true
