name: Audit NPM Dependencies
on:
  workflow_call:
    inputs:
      node-version:
        description: Version of NodeJS to use
        required: false
        default: '16'
        type: string
      audit-level:
        description: Audit level for NPM Audit command
        required: false
        default: moderate
        type: string
jobs:
  node.audit:
    name: Audit NPM Dependdencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
      - name: Audit Dependencies
        run: npm audit --audit-level=${{inputs.audit-level}}

