name: Audit Rust Crates
on: [workflow_call]
jobs:
  rust.audit:
    name: Audit Rust Crates
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - name: Audit Check
        uses: actions-rs/audit-check@35b7b53b1e25b55642157ac01b4adceb5b9ebef3 # tag=v1
        with:
          token: ${{github.token}}
