name: Lint YAML
on:
  workflow_call:
    inputs:
      yamllint-flags:
        description: Flags and arguments for yamllint
        required: false
        type: string
      fail-on-error:
        description: Should reviewdog fail when errors are found
        required: false
        type: boolean
      workdir:
        description: Directory to search for files to lint
        required: false
        default: ${{github.workspace}}
        type: string
jobs:
  yaml:
    name: Review Dog - Lint YAML Files
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Review Dog - yamllint
        uses: reviewdog/action-yamllint@f01d8a48fd8d89f89895499fca2cff09f9e9e8c0 # v1
        with:
          yamllint_flags: ${{inputs.yamllint-flags}} ${{inputs.workdir}}
          fail_on_error: ${{inputs.fail-on-error}}
